# Apply
### apply() is used to apply a function along an axis of the DataFrame or on values of Series


### First major difference: DEFINITION
#### >map is defined on Series ONLY
#### >applymap is defined on DataFrames ONLY
#### >apply is defined on BOTH

### Second major difference: INPUT ARGUMENT
#### map accepts dicts, Series, or callable
#### applymap and apply accept callables only



#### DataFrame.apply operates on entire rows or columns at a time.
#### DataFrame.applymap, Series.apply, and Series.map operate on one element at time.

### Third major difference: BEHAVIOR

#### map is elementwise for Series
#### applymap is elementwise for DataFrames
#### apply also works elementwise but is suited to more complex operations and aggregation. The behaviour and return value depends on the function.

In [183]:
import pandas as pd 

data = pd.DataFrame({
    'power_level':[12000,16000,4000,3000],
    'uniform_color':['orange','blue','black','orange'],
    'species':['saiyan','saiyan','saiyan','human']},
    index = ['Goku','Vegeta','Nappa','krilin'])

data

        power_level uniform_color species
Goku          12000        orange  saiyan
Vegeta        16000          blue  saiyan
Nappa          4000         black  saiyan
krilin         3000        orange   human

In [184]:
# use apply() to apply a function to a series (string column)

def classify_power(x, h, l):
    if x > h:
        return ("high")
    elif x > l:
        return ("med")
    return ('low')

data['power_level'].apply(classify_power, args = [12000,6000])

Goku       med
Vegeta    high
Nappa      low
krilin     low
Name: power_level, dtype: object

In [185]:
#To create another column with that name
data['power-class']= data['power_level'].apply(classify_power, args = [12000,6000])

data

        power_level uniform_color species power-class
Goku          12000        orange  saiyan         med
Vegeta        16000          blue  saiyan        high
Nappa          4000         black  saiyan         low
krilin         3000        orange   human         low

In [186]:
# Apply a function to each column with axis = 0 
# can be used to create new rows/summary rows 

# >> mode return the most common value of the collon
# test one column
data['species'].mode()

#apply it to all column (axis=0)
def return_mode(x):
    return x.mode()

data.apply(return_mode, axis = 0)

   power_level uniform_color species power-class
0         3000        orange  saiyan         low
1         4000           NaN     NaN         NaN
2        12000           NaN     NaN         NaN
3        16000           NaN     NaN         NaN

In [187]:
# apply a function to each row with axis=#
# can be used to create a new col/summary colymns

#find the max of the length of each of the object in the row

def ReturnMaxLen(x):
    return max([len(str(v)) for v in x])

data.apply(ReturnMaxLen, axis = 1)

Goku      6
Vegeta    6
Nappa     6
krilin    6
dtype: int64

In [188]:
# apply a function to each row referencing column names

def MakeCharString (x):
    return ("{} with power level:{}".format(x.species,x.power_level))

data['sentence']=data.apply(MakeCharString, axis = 1)

In [189]:
data

,power_level,uniform_color,species,power-class,sentence
Goku,12000,orange,saiyan,med,saiyan with power level:12000
Vegeta,16000,blue,saiyan,high,saiyan with power level:16000
Nappa,4000,black,saiyan,low,saiyan with power level:4000
krilin,3000,orange,human,low,human with power level:3000

# MAP

In [7]:
power_level_list = [1000,200,3000,4000,300]

def greater_than_900(x):
    if x > 900 :
        return True 
    return False 

mapped = map(greater_than_900, power_level_list)

print(mapped)

<map object at 0x7fe9b979da00>

In [8]:
for m in mapped:
    print(m)

True
False
True
True
False

In [15]:
# extract mapping into new list
# dont forget the * 

mapped_list= [*map(greater_than_900, power_level_list)]
mapped_list

[True, False, True, True, False]

In [13]:
mapped_list

[True, False, True, True, False]