In [1]:
### 2d array

In [48]:

arr=[
  [ 1, 6, 8, 0, 0, 0 ],
  [ 0, 4, 0, 0, 5, 0 ],
  [ 7, 9, 3, 0, 1, 0 ],
  [ 0, 0, 2, 4, 4, 0 ],
  [ 0, 0, 0, 2, 0, 0 ],
  [ 0, 0, 1, 2, 4, 0 ]
]

In [53]:
list_sum = []
for i in range(0,4):
    for j in range(0,4):
        first_row = arr[i][j] + arr[i][j+1] +  arr[i][j+2] 
        second_row =  arr[i+1][j+1]
        third_row = arr[i+2][j] + arr[i+2][j+1] +  arr[i+2][j+2]
        sum_arrays = first_row + second_row + third_row 
        list_sum.append(sum_arrays)

print(list_sum)
print(max(list_sum))

[38, 26, 12, 6, 15, 13, 15, 14, 19, 16, 10, 7, 3, 9, 19, 14]
38

In [108]:
### Reverse Array

list_a = [1,2,3]
reversed_list_a = []

# for i in range(len(list_a)):
#     print(i)
#     reversed_list_a.append(list_a[-i])
#     print(reversed_list_a)

ini=-1
listr= []
while ini > (len(list_a)*(-1)-1):
    print(ini)
    listr.append(list_a[ini])
    ini -= 1

listr

-1
-2
-3

[3, 2, 1]

In [128]:
### Left Rotation

a = [1,2,3,4,5]
new_a = []

new_a.append(a[1])
new_a.append(a[2])
new_a.append(a[3])
new_a.append(a[4])
new_a.append(a[0])



new_a

[2, 3, 4, 5, 1]

In [15]:
# This works but timeout in the website

a = [1,2,3,4,5]
d = 2
z = 1
x = d%len(a)
while z < x+1:
    new_a = []
    for i in range(len(a)):
        position = 1+i
        if position < len(a):
            new_a.append(a[position])
        else:
            new_a.append(a[0]) 
    a = new_a
    z += 1
    
    print(a)

[2, 3, 4, 5, 1]
[3, 4, 5, 1, 2]

In [42]:
#Best solution regarding the timeout
list_a = [1,2,3,4,5]
d = 2
x = d%len(a)
list_a = list_a[1:] + list_a[:1]
print('final', list_a)

final [2, 3, 4, 5, 1]

In [52]:
### Sparse array
output = []
for term in queries:
    count = 0
    for i in range(len(stringList)):
        if term == stringList[i]:
            print(term)
            count += 1
    output.append(count)
        
output

2

In [64]:
queries = ['av', 'vvc', 'bb']
stringList = ['av', 'av', 'vvc']
output = []
for term in queries:
    count = 0
    for i in range(len(stringList)):
        if term == stringList[i]:
            print(term)
            count += 1
    output.append(count)

output

av
av
vvc

[2, 1, 0]

In [86]:
#Compare the triples 
a = [2,1,5]
b = [1,1,2]

score_a = 0
score_b = 0
c= []

for i,j in zip(range(len(a)),range(len(b))):
    if a[i]>b[j]:
        score_a += 1
    elif a[i] < b[j]:
        score_b += 1
c.append(score_a)
c.append(score_b)

c

[2, 0]

In [94]:

ar = [1,2,3]

if len(ar)<10**10 and len(ar)>0:
    sum = 0
    for i in range(len(ar)):
        sum += ar[i]
sum

6

In [140]:
arr=[
  [ 1, 6, 8],
  [ 0, 4, 0],
  [ 7, 9, 3]
]

In [132]:
import numpy as np 
a = [arr[i][i] for i in range(len(arr))]
b = [arr[i][~i] for i in range(len(arr))]
for i in range(lemn)

[1, 4, 3]

In [139]:
score_a = 0 
score_b = 0
for i in range(len(arr)):
    score += arr[i][i]
for i in range(len(arr)):
    score += arr[i][i]


score

8

In [14]:
arr=[
  [ 1, 6, 8],
  [ 0, 4, 5],
  [ 7, 9, 3]
]

arr[~1][~1]

4

In [16]:
10//3

3

In [17]:
10%3

1

In [18]:
10%11

10

In [19]:
10%4

2

In [8]:
dp = [[False] * 5 ]

In [9]:
dp

[[False, False, False, False, False]]

In [22]:
char_set = ()
char_set.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [64]:
s = "abcadfeg"
char_set = set()
i, j, answer = 0, 0, 0
while j<len(s):
    print("status",i,j)
    if s[j] not in char_set:
        char_set.add(s[i])
        answer = max(answer, j-i+1)
        print("ans", answer)
        j += 1
    else: 
        print("remove", s[i])
        char_set.remove(s[i])
        i += 1

status 0 0
ans 1
status 0 1
ans 2
status 0 2
ans 3
status 0 3
remove a
status 1 3
ans 3
status 1 4
ans 4
status 1 5
ans 5
status 1 6
ans 6
status 1 7
ans 7

In [53]:
char_set = set()
i, j, ans = 0, 0, 0
while j < len(s):
    if s[j] not in char_set:
        char_set.add(s[j])
        ans = max(ans, j - i + 1)
        j += 1
    else:
        char_set.remove(s[i])
        i += 1

In [66]:
11%2

1

In [44]:
char_set = set()
s = "abcabcbb"

if s[j] not in char_set:
    char_set.add(s[j])

In [45]:
char_set

{'a'}

In [48]:
char_set = set()

In [49]:
char_set.add('a')

In [37]:
s = 'abbab'
   
n = len(s)
dp = [[False] * n for _ in range(n)]
for i in range(n):
    dp[i][i] = True
start = 0
max_length = 1
# Check for substrings of length 2
for i in range(n - 1):
    if s[i] == s[i + 1]:
        print("yu")
        dp[i][i + 1] = True
        start = i
        max_length = 2
        print(dp)
for k in range(3, n + 1):
    for i in range(n - k + 1):
        print("k",k,"i",i)
        j = i + k - 1
        print("j", j)
        if dp[i + 1][j - 1] and s[i] == s[j]:
            dp[i][j] = True
            if k > max_length:
                start = i
                max_length = k
print (s[start:start + max_length]
)

yu
[[True, False, False, False, False], [False, True, True, False, False], [False, False, True, False, False], [False, False, False, True, False], [False, False, False, False, True]]
k 3 i 0
j 2
k 3 i 1
j 3
k 3 i 2
j 4
k 4 i 0
j 3
k 4 i 1
j 4
k 5 i 0
j 4
abba

In [38]:
s = 'abcadrt'

char_set = set()
i, j, ans = 0, 0, 0
while j < len(s):
    if s[j] not in char_set:
        char_set.add(s[j])
        ans = max(ans, j - i + 1)
        print(ans, char_set)
        j += 1
    else:
        char_set.remove(s[i])
        i += 1
        print('hi', ans, char_set)

1 {'a'}
2 {'b', 'a'}
3 {'c', 'b', 'a'}
hi 3 {'c', 'b'}
3 {'c', 'b', 'a'}
4 {'c', 'd', 'b', 'a'}
5 {'c', 'r', 'b', 'a', 'd'}
6 {'c', 'r', 'b', 't', 'a', 'd'}

In [21]:
s = 'abcdbf'


i, j, m = 0, 0, 0
char_set = set()

while j<len(s):
    if s[j] not in char_set:
        char_set.add(s[j])
        m = max(m, j-i+1)
        print("add", s[j], char_set, m)
        j += 1
    else:
        char_set.remove(s[i])
        print("remove", s[i], char_set, m)
        i += 1

m

add a {'a'} 1
add b {'a', 'b'} 2
add c {'a', 'b', 'c'} 3
add d {'a', 'd', 'b', 'c'} 4
remove a {'d', 'b', 'c'} 4
remove b {'d', 'c'} 4
add b {'d', 'b', 'c'} 4
add f {'b', 'd', 'f', 'c'} 4

4

In [42]:
nums1 = [1,3]
nums2 = [2,3]
nums = nums1 + nums2
nums.sort()

if len(nums)%2==0:
    mediane = (nums[len(nums)//2] + nums[(len(nums)//2)+1])/2
    print("ok",mediane)
else:
    mediane = nums[len(nums)//2]
    print("_d", mediane)

ok 3.0

In [48]:
s = "babad"
n = len(s)
dp = [[False] * n for i in range(n)]
dp

for i in range(5):
    dp[i][i] = True

dp

# k=3
# i=0
# j= 2
# if dp[1][1] and s[0] == s[2]:
#     dp[0][2] = True 

start=0
max_length = 3 
[[True, False, True, False, False],
 [False, True, False, False, False],
 [False, False, True, False, False],
 [False, False, False, True, False],
 [False, False, False, False, True]]


# k=3
# i=1
# j= 3
# if dp[2][2] and s[1] == s[3]:
#     dp[1][3] = True 

start=0
max_length = 3 
[[True, False, True, False, False],
 [False, True, False, True, False],
 [False, False, True, False, False],
 [False, False, False, True, False],
 [False, False, False, False, True]]

[[True, False, False, False, False],
 [False, True, False, False, False],
 [False, False, True, False, False],
 [False, False, False, True, False],
 [False, False, False, False, True]]

In [50]:
s = "babad"
n = len(s)
dp = [[False] * n for i in range(n)]

for i in range(n):
    dp[i][i] = True
start = 0
max_length = 1
print("step1", dp)
# Check for substrings of length 2
for i in range(n - 1):
    if s[i] == s[i + 1]:
        dp[i][i + 1] = True
        start = i
        max_length = 2
print("step2: i", i)
print("step2 dp", dp)
# Check for substrings of length 3 and greater
for k in range(3, n + 1):
    for i in range(n - k + 1):
        j = i + k - 1
        if dp[i + 1][j - 1] and s[i] == s[j]:
            dp[i][j] = True
            if k > max_length:
                start = i
                max_length = k
        print("k:", k, "i:", i, "j:", j)
        print("step dp", dp)

step1 [[True, False, False, False, False], [False, True, False, False, False], [False, False, True, False, False], [False, False, False, True, False], [False, False, False, False, True]]
step2: i 3
step2 dp [[True, False, False, False, False], [False, True, False, False, False], [False, False, True, False, False], [False, False, False, True, False], [False, False, False, False, True]]
k: 3 i: 0 j: 2
step dp [[True, False, True, False, False], [False, True, False, False, False], [False, False, True, False, False], [False, False, False, True, False], [False, False, False, False, True]]
k: 3 i: 1 j: 3
step dp [[True, False, True, False, False], [False, True, False, True, False], [False, False, True, False, False], [False, False, False, True, False], [False, False, False, False, True]]
k: 3 i: 2 j: 4
step dp [[True, False, True, False, False], [False, True, False, True, False], [False, False, True, False, False], [False, False, False, True, False], [False, False, False, False, True]]
k: 4 i: 0 j: 3
step dp [[True, False, True, False, False], [False, True, False, True, False], [False, False, True, False, False], [False, False, False, True, False], [False, False, False, False, True]]
k: 4 i: 1 j: 4
step dp [[True, False, True, False, False], [False, True, False, True, False], [False, False, True, False, False], [False, False, False, True, False], [False, False, False, False, True]]
k: 5 i: 0 j: 4
step dp [[True, False, True, False, False], [False, True, False, True, False], [False, False, True, False, False], [False, False, False, True, False], [False, False, False, False, True]]

In [27]:
nums = [1,1,2,6,4,4,3,2,1]
cache = []
None_list = []
for i in range(len(nums)):
    if nums[i] in cache:
        None_list.append("None")
    else:
        cache.append(nums[i])
        cache.sort()

#cache = cache.sort()
#a = cache + None_list
cache

[1, 2, 3, 4, 6]

In [53]:
nums = [1,1,2]
cache = []
None_list = []
for i in range(len(nums)):
    if nums[i] in cache:
        None_list.append("None")
    else:
        cache.append(nums[i])
        cache.sort()
nums = cache

nums

[1, 2]

In [59]:
nums = [1,1,2,3]
nums[1] = nums[3]
nums

[1, 3, 2, 3]

In [17]:
prices = [7,1,5,3,6,4]
buy = 0
sell = 0
profit = []
i=0
for j in range(1,len(prices)):
    print(prices[i],prices[j])
    if prices[j]<prices[i]:
        print("buy")
        buy = prices[j]
        i += 1
        print(buy)
    else:
        print("sell", 'i', i)
        sell = prices[j]
        profit.append(sell-buy)
        i += 1

profit

7 1
buy
1
1 5
sell i 1
5 3
buy
3
3 6
sell i 3
6 4
buy
4

[4, 3]

In [20]:
prices = [1,2,3,4,5]
profit = 0
for j in range(1,len(prices)):
    diff = prices[i] - prices[i-1]
    if diff > 0:
        profit += diff 
profit

4

In [78]:
nums = [1,2,3,4,5,6,7]
k=3
new_k = k%len(nums)
print(nums[:-new_k])
print(nums[-new_k:])
nums[:] = nums[-new_k:] + nums[:-new_k] 
nums

[1, 2, 3, 4]
[5, 6, 7]

[5, 6, 7, 1, 2, 3, 4]

In [20]:
nums1 = [2,2]
nums2 = [1,2,2,3]
cache = []
for i in range(len(nums1)):
    for j in range(len(nums2)):
        if nums1[i]==nums2[j]:
            cache.append(nums1[i])
            nums2[j]=None
            break
cache

[2, 2]

In [23]:
nums1 = [1,2,2,1]
nums2 = [2,2]
cache = []
for i in range(len(nums1)):
    for j in range(len(nums2)):
        if nums1[i]==nums2[j]:
            cache.append(nums1[i])
            nums2[j]=None
            break
cache
nums2

[None, None]

In [48]:
digits = [1,2,3]

if digits[-1]==9:
    if len(digits)==1:
        digits.append(digits[0])
        digits[-1]=0
        digits[0]=1
    else:
        digits[-2]=digits[-2]+1
        digits[-1]=0
else:
    digits[-1]=digits[-1]+1

digits

[1, 2, 4]

In [6]:
digits = [8,9,9]

for i in range(1,len(digits)):
    if digits[0]!= 9:
        while digits[-i] == 9:
            digits[-i]=0
            print(digits, "here")
            break
        else:
            print("no")        
            
digits

[8, 9, 0] here
[8, 0, 0] here

[8, 0, 0]

In [15]:
digits = [8,9,9]

for i in range(1,len(digits)):
    if digits[0]!= 9:
            if digits[-i]==9:
                print(digits, "here")
                digits[-i]=0
digits[0] += 1
digits

[8, 9, 9] here
[8, 9, 0] here

[9, 0, 0]

In [27]:
digits = [1,2,3]
d=[1]

if digits[0]!= 9:
    for i in range(1,len(digits)):
        if digits[-i]==9:
            digits[-i]=0
    digits[0] += 1
else:
    for i in range(1,len(digits)):
        if digits[-i]==9:
            digits[-i]=0
    digits[0]=0
    digits = d+digits

digits


# else:
#     digits[-1]=digits[-1]+1

[2, 2, 3]

In [44]:
digits = [1,8,9]
d=[1]

if digits[-1] != 9:
    digits[-1]=digits[-1]+1
else:
    if digits[0]!= 9:
        for i in range(1,len(digits)):
            if digits[-i]==9:
                digits[-i]=0
        digits[0] += 1
    else:
        for i in range(1,len(digits)):
            if digits[-i]==9:
                digits[-i]=0
                digits[-i-1]=digits[-i-1]+1
        digits[0]=0
        digits = d+digits

digits

[2, 8, 0]

In [40]:
digits = [1,2,9]
j=1

if digits[-1] != 9:
    digits[-1]=digits[-1]+1
else:
    while j<len(digits):
        if digits[-i]==9:
            digits[-i]=0
            j+=1



digits

KeyboardInterrupt:

In [36]:
digits = [1,2,8,9]
for i in range(len(digits)-1,-1, -1):
    if digits[i]!=9:
        print('a')
        digits[i]+=1
        break
    else:
        if digits[i-1] != 9:
            print("o")
            digits[i]=0
            digits[i-1]= digits[i-1]+1
            break


digits

o

[1, 3, 0, 9]

In [203]:
nums = [0,1,0,3,12]
zeros = 0

for i in range(len(nums)):
    if nums[i] == 0:
        zeros += 1
    else: 
        print('i',i,zeros)
        nums[i-zeros] = nums[i]
    for i in range(len(nums),zeros,-1):
        if 
nums

i 1 1
i 3 2
i 4 2

[1, 3, 12, 3, 12]

In [218]:
nums = [0,0,0]
zeros = 0
for i in range(len(nums)):
    if nums[i] == 0:
        zeros += 1
        print("zeros:",zeros)
    else:
        nums[i-zeros] = nums[i]
        print(nums)
for i in range(len(nums),len(nums)-zeros,-1):
    nums[i-1] = 0

nums

zeros: 1
zeros: 2
zeros: 3

[0, 0, 0]

In [239]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
# [[7,4,1],[8,5,2],[9,6,3]]

'''
[1,2,3]
[4,5,6]
[7,8,9]

[7,4,1]
[8,5,2]
[9,6,3]

'''
N=len(matrix)

for r in range(N):
    for c in range(r):
        print('l', r, c)

      

  



'''
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
second is what we want but let;s to the thirs then reverse

[0,0]= 1   [0,2]  [0,0]
[0,1]= 2   [1,2]  [1,0]
[0,2]= 3   [2,2]  [2,0]

[1,0]= 4   [0,1]
[2,2]= 5   [2,2]
[1,2]= 6   [2,1]

[2,0]= 7   [0,0]
[2,1]= 8   [1,0]
[2,2]= 9   [2,0]

'''

l 1 0
l 2 0
l 2 1

'\nmatrix = [[1,2,3],[4,5,6],[7,8,9]]\n[0,0]= 1   [0,2]\n[0,1]= 2   [1,2]\n[0,2]= 3   [2,2]\n\n[1,0]= 4   [0,1]\n[2,2]= 5   [2,2]\n[1,2]= 6   [2,1]\n\n[2,0]= 7   [0,0]\n[2,1]= 8   [1,0]\n[2,2]= 9   [2,0]\n\n'

In [253]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

N=len(matrix)

for r in range(N):
    print('Index: ', r)
    for num in range(r):
        print([i])
        matrix[r][num], matrix[num][r] = matrix[num][r], matrix[r][num]

for m in matrix:
    m.reverse()    
print(matrix)

Index:  0
Index:  1
[1]
Index:  2
[1]
[1]
[[7, 4, 1], [8, 5, 2], [9, 6, 3]]

In [262]:
nums = [2,7,11,15]
target = 9
seen = {}
cache= []
for i in range(len(nums)):
    diff = target - nums[i]
    if nums[i] not in seen:
        seen[diff]=i
        print(seen)
    else:
        cache.append(i)
        cache.append(seen[nums[i]])
cache

{7: 0}
{7: 0, -2: 2}
{7: 0, -2: 2, -6: 3}

[1, 0]

In [19]:
'''nums = [2,7,9,3,1]
nums = [2,7,9]= 2+9
max(nums[3]+nums[0])
nums = [2,7,9,3]= 7+3
max(nums[3]+nums[1], nums[])

nums = [2,7,9,3,1,2,5,6,3]

'''
nums = [2,1,1,2,6,8,1]
earning= [0]* len(nums)
earning[0]=nums[0]
earning[1]=max(nums[0],nums[1])
for i in range(2,len(nums)):
    earning[i]=max(nums[i]+earning[i-2] ,earning[i-1])
    print("iteration:",i,", earning:",earning)

print(earning[-1])

iteration: 2 , earning: [2, 2, 3, 0, 0, 0, 0]
iteration: 3 , earning: [2, 2, 3, 4, 0, 0, 0]
iteration: 4 , earning: [2, 2, 3, 4, 9, 0, 0]
iteration: 5 , earning: [2, 2, 3, 4, 9, 12, 0]
iteration: 6 , earning: [2, 2, 3, 4, 9, 12, 12]
12

In [1]:
import re
s = "A man, a plan, a canal: Panama"
s = re.sub("[^a-z, ^0-9]", "", )
l,r = 0, len(s)-1

while l<r:
    if s[l]!=s[r]:
        return False
    l+=1
    r-=1
return True

SyntaxError: invalid syntax (290620130.py, line 11)

In [2]:
nums = [-1,0,1,2,-1,-4]
list_triplets=[]
for i in range(len(nums)-1):
    print('i', nums[i])
    l=i+1
    r=len(nums)-1
    print(i,l,r ,'else',nums[i],nums[l], nums[r])

    while l<r:
        if nums[l]==nums[i]:
            print('first', i,l,r ,'else',nums[i],nums[l], nums[r])
            nums[l]+=1
        if nums[r]==nums[i]:
            print('second', nums[i],nums[l], nums[r])
            nums[r]-=1
        if nums[i]!=nums[l] & nums[l]!=r & nums[i]+nums[l]+nums[r]==0:
            print('third')
            triplets=[nums[i],nums[l], nums[r]]
            print(triplets)
            list_triplets.append(triplets)
            nums[l]+=1
            nums[r]-=1
        else:
            print("out")
            nums[l]+=1
            nums[r]-=1
            breakL

print(list_triplets)

i -1
0 1 5 else -1 0 -4
out
i 1
1 2 5 else 1 1 -5
first 1 2 5 else 1 1 -5
out
i 3
2 3 5 else 3 2 -6
out
i 3
3 4 5 else 3 -1 -7
out
i 0
4 5 5 else 0 -8 -8
[]

In [5]:
# What are the real danger
 
nums = [-1,0,1,2,-1,-4]
list_triplets = []
l, r = nums[i]+1,len(nums)-1
for i in range(len(nums)):
    while l<r:
        if nums[i] + nums[l] + nums[r] ==0:

TypeError: object of type 'int' has no len()

In [11]:
# nums = [-1,0,1,2,-1,-4]
# [-4, -1, -1, 0, 1, 2]
nums = [-1,0,1,0]
# -1 0 0 1
nums.sort()
list_triplets = []
for i in range(len(nums)-1):
    l, r = i+1 ,len(nums)-1
    while l<r:
        print('start')
        if nums[i]==nums[l]+nums[r]:
            print('no')
        if nums[l] + nums[r] > nums[i] and nums[l] + nums[r] + nums[i] != 0:
            print('step1','i',i,'l',l,'r',r,'nums[i]',nums[i],'nums[l]',nums[l],'nums[r]',nums[r],'sum:',nums[i]+nums[l]+nums[r])
            r-=1
        if nums[l] + nums[r] < nums[i] and nums[l] + nums[r] + nums[i] != 0:
            print('step2','i',i,'l',l,'r',r,'nums[i]',nums[i],'nums[l]',nums[l],'nums[r]',nums[r],'sum:',nums[i]+nums[l]+nums[r])
            l+=1
        if nums[l] + nums[r] + nums[i] == 0:
            print('add')
            print('step3','i',i,'l',l,'r',r,'nums[i]',nums[i],'nums[l]',nums[l],'nums[r]',nums[r],'sum:',nums[i]+nums[l]+nums[r])
            list_triplets.append([nums[i], nums[l], nums[r]])
            print('list_triplets', list_triplets)
            r-=1
            break

list_triplets

start
add
step3 i 0 l 1 r 3 nums[i] -1 nums[l] 0 nums[r] 1 sum: 0
list_triplets [[-1, 0, 1]]
start
step1 i 1 l 2 r 3 nums[i] 0 nums[l] 0 nums[r] 1 sum: 1
add
step3 i 1 l 2 r 2 nums[i] 0 nums[l] 0 nums[r] 0 sum: 0
list_triplets [[-1, 0, 1], [0, 0, 0]]

[[-1, 0, 1], [0, 0, 0]]

In [3]:
import pandas as pd

def create_table_sql(df, table_name):
    column_definitions = []
    
    for column in df.columns:
        max_length = df[column].astype(str).str.len().max()
        data_type = "VARCHAR({})".format(max_length)
        column_definition = "{} {}".format(column, data_type)
        column_definitions.append(column_definition)
    
    sql = "CREATE TABLE {} ({})".format(table_name, ", ".join(column_definitions))
    return sql

# Example usage
df = pd.DataFrame({'Name': ['John', 'Jane', 'Mike'],
                   'Age': [25, 30, 28],
                   'City': ['New York', 'London', 'Paris']})

table_name = "my_table"
create_table_query = create_table_sql(df, table_name)
print(create_table_query)

CREATE TABLE my_table (Name VARCHAR(4), Age VARCHAR(2), City VARCHAR(8))

In [4]:
import pandas as pd

# Sample DataFrame
data = {
    'ID': [1, 2, 3],
    'Name': ['John Doe', 'Jane Smith', 'Bob Johnson'],
    'Age': [25, 30, 35],
    'Salary': [50000.00, 60000.00, 70000.00],
    'Join_Date': ['2022-01-01', '2022-02-01', '2022-03-01']
}

df = pd.DataFrame(data)

# Get column information
column_info = []
for col in df.columns:
    column_data = df[col]
    column_type = str(column_data.dtype)
    max_length = column_data.astype(str).apply(len).max()
    column_info.append((col, column_type, max_length))

# Generate SQL command
table_name = 'my_table'
sql_command = f"CREATE TABLE {table_name} (\n"
for col_info in column_info:
    col_name, col_type, max_length = col_info
    if 'int' in col_type:
        sql_command += f"    {col_name} INT,\n"
    elif 'float' in col_type:
        sql_command += f"    {col_name} FLOAT,\n"
    elif 'datetime' in col_type:
        sql_command += f"    {col_name} DATETIME,\n"
    else:
        sql_command += f"    {col_name} VARCHAR({max_length}),\n"

sql_command = sql_command.rstrip(',\n') + "\n)"
print(sql_command)

CREATE TABLE my_table (
    ID INT,
    Name VARCHAR(11),
    Age INT,
    Salary FLOAT,
    Join_Date VARCHAR(10)
)

In [10]:
import pandas as pd
import sys

print("Python version:", sys.version)
print("Python interpreter:", sys.executable)
%env

Python version: 3.9.6 (default, Mar 10 2023, 20:16:38)
[Clang 14.0.3 (clang-1403.0.22.14.1)]
Python interpreter: /Users/firaterman/Documents/git_workspace/.venv/bin/python

{'COMMAND_MODE': 'unix2003',
 'HOME': '/Users/firaterman',
 'HOMEBREW_CELLAR': '/opt/homebrew/Cellar',
 'HOMEBREW_PREFIX': '/opt/homebrew',
 'HOMEBREW_REPOSITORY': '/opt/homebrew',
 'INFOPATH': '/opt/homebrew/share/info:',
 'LESS': '-R',
 'LOGNAME': 'firaterman',
 'LSCOLORS': 'Gxfxcxdxbxegedabagacad',
 'LS_COLORS': 'di=1;36:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43',
 'MANPATH': '/opt/homebrew/share/man::',
 'MallocNanoZone': '0',
 'OLDPWD': '/',
 'ORIGINAL_XDG_CURRENT_DESKTOP': 'undefined',
 'P9K_SSH': '0',
 'PAGER': 'cat',
 'PATH': '/Users/firaterman/Documents/git_workspace/.venv/bin:/opt/homebrew/Cellar/apache-spark/3.3.2/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/share/dotnet:~/.dotnet/tools:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin',
 'PWD': '/',
 'SHELL': '/bin/zsh',
 'SHLVL': '1',
 'SSH_AUTH_SOCK': '/private/tmp/com.apple.launchd.GKt6Hhzwv2/Listeners',
 'TMPDIR': '/var/folders/rl/hwkmtmz15xl60kjd0j48p7900000gn/T/',
 'USER': 'firaterman',
 'VSCODE_AMD_ENTRYPOINT': 'vs/workbench/api/node/extensionHostProcess',
 'VSCODE_CODE_CACHE_PATH': '/Users/firaterman/Library/Application Support/Code/CachedData/b3e4e68a0bc097f0ae7907b217c1119af9e03435',
 'VSCODE_CRASH_REPORTER_PROCESS_TYPE': 'extensionHost',
 'VSCODE_CRASH_REPORTER_SANDBOXED_HINT': '1',
 'VSCODE_CWD': '/',
 'VSCODE_HANDLES_UNCAUGHT_ERRORS': 'true',
 'VSCODE_IPC_HOOK': '/Users/firaterman/Library/Application Support/Code/1.78-main.sock',
 'VSCODE_NLS_CONFIG': '{"locale":"en-gb","osLocale":"en-fr","availableLanguages":{},"_languagePackSupport":true}',
 'VSCODE_PID': '26605',
 'XPC_FLAGS': '0x0',
 'XPC_SERVICE_NAME': '0',
 'ZSH': '/Users/firaterman/.oh-my-zsh',
 '_': '/Users/firaterman/Documents/git_workspace/.venv/bin/python',
 '__CFBundleIdentifier': 'com.microsoft.VSCode',
 '__CF_USER_TEXT_ENCODING': '0x1F5:0x0:0x0',
 'ELECTRON_RUN_AS_NODE': '1',
 'SPARK_HOME': '/opt/homebrew/Cellar/apache-spark/3.3.2/libexec',
 'PYTHONUNBUFFERED': '1',
 'PYTHONIOENCODING': 'utf-8',
 'PYSPARK_PYTHON': '/usr/local/bin/python3',
 'PYSPARK_DRIVER_PYTHON': 'jupyter',
 'VIRTUAL_ENV': '/Users/firaterman/Documents/git_workspace/.venv',
 'PS1': '(.venv) ',
 'PYSPARK_DRIVER_PYTHON_OPTS': 'notebook',
 'LC_CTYPE': 'UTF-8',
 'PYDEVD_IPYTHON_COMPATIBLE_DEBUGGING': '1',
 'PYDEVD_USE_FRAME_EVAL': 'NO',
 'TERM': 'xterm-color',
 'CLICOLOR': '1',
 'FORCE_COLOR': '1',
 'CLICOLOR_FORCE': '1',
 'GIT_PAGER': 'cat',
 'MPLBACKEND': 'module://matplotlib_inline.backend_inline'}

### EVENTS XLS

In [35]:
import pandas as pd
xls_file_path = '/Users/firaterman/Downloads/jj/events_database.xlsx'
df = pd.read_excel(xls_file_path)

In [15]:
print("number of rows",len(df))
print("count of rows per column",df.count())
# different length present in columns
lengths = df.apply(lambda col: col.astype(str).apply(len).unique())
print("different length present in columns:", lengths)

# This will help to configure the json file to create the metadata of the file

number of rows 30191
count of rows per column Id                   30191
Parent_Id            17250
Date_created         30153
Due_date             28218
Title                17316
Assigned_to          30191
Supervisor_leader    30191
State                30191
Site_name            28190
dtype: int64

different length present in columns: Id                                                [8]
Parent_Id                                      [6, 3]
Date_created                                  [19, 3]
Due_date                                      [19, 3]
Title                                         [30, 3]
Assigned_to          [12, 13, 15, 14, 17, 11, 16, 10]
Supervisor_leader         [14, 11, 16, 15, 17, 12, 9]
State                                    [8, 7, 4, 6]
Site_name                              [7, 3, 10, 11]
dtype: object

In [17]:
# count null values
null_counts = df.isnull().sum()
print("\n","count null values: ",null_counts)

 count null values Id                       0
Parent_Id            12941
Date_created            38
Due_date              1973
Title                12875
Assigned_to              0
Supervisor_leader        0
State                    0
Site_name             2001
dtype: int64

In [30]:
df.describe()

,Id,Parent_Id,Date_created,Due_date,Title,Assigned_to,Supervisor_leader,State,Site_name
count,30191,17250,30153,28218,17316,30191,30191,30191,28190
unique,20174,13621,9333,9242,13652,22,14,4,5
top,mHdkr71t,B3h7TY,09/03/2023 11:26 AM,2023/27/09 06:18 AM,L3YLROAptvyn7QauWTPpyZQqOxdfgq,Braidy Paisley,Maximiano Harshad,Closed,Spain_plan
freq,6,5,15,13,6,1776,5046,7586,9124

In [38]:
df['count_id'] = df.groupby(["Parent_Id"])["Id"].transform('count')
value_counts = df["count_id"].value_counts()
print(value_counts)
# A grouping_id has a maximum of 5 unique id and a minimum of 1

count_id
1.0    10558
2.0     5134
3.0     1290
4.0      248
5.0       20
Name: count, dtype: int64

In [39]:
df

,Id,Parent_Id,Date_created,Due_date,Title,Assigned_to,Supervisor_leader,State,Site_name,count_id
0,NQjKOTnh,wb18gG,04/06/2023 09:47 AM,2023/09/09 06:19 AM,aAt7u8TVNyM5WUTRkxQvsPJ4y7M9nO,Karter Harve,Geghard Fester,Progress,US_plan,1.0
1,uDbetnjg,NaN,20/07/2023 07:02 PM,2023/14/09 02:31 PM,X2L8gwwGPCg4epck1IdFeQQAZzaypc,Royle Jacinda,Kaj Gunnarr,Pending,NaN,NaN
2,FYRoQXCm,NaN,30/04/2023 06:31 AM,2023/05/08 06:08 PM,w1QF1TyO4QODQNefWTmZYdNgsL0Wz2,Royle Jacinda,Kaj Gunnarr,Pending,US_plan,NaN
3,FLIKQF18,fLDxcx,24/05/2023 05:28 PM,2023/27/06 03:39 AM,NaN,Royle Jacinda,Kaj Gunnarr,Open,US_plan,1.0
4,KF5debhv,NaN,16/03/2023 05:24 PM,2023/16/10 05:24 PM,NaN,Royle Jacinda,Geghard Fester,Open,US_plan,NaN
...,...,...,...,...,...,...,...,...,...,...
30186,ohevpgdv,NaN,08/04/2023 12:10 AM,2023/26/11 06:04 PM,NaN,Bernetta Barrett,Vera Ludvík,Pending,Spain_plan,NaN
30187,q9MaOfoT,NaN,10/06/2023 05:39 PM,2023/28/06 08:01 AM,NaN,Phemie Constance,Luvinia Honora,Progress,Spain_plan,NaN
30188,cqMrBVRN,rr38mu,21/04/2023 10:20 AM,2023/07/11 05:20 AM,NaN,Lorelle Rylan,Basma Engel,Progress,NaN,3.0
30189,vM8M01ib,NaN,30/03/2023 01:05 AM,2023/22/06 01:02 AM,NaN,Elaine Jax,Vera Ludvík,Open,Spain_plan,NaN
30190,PjuGyibs,NaN,19/06/2023 08:41 PM,NaN,NaN,Elaine Jax,Vera Ludvík,Open,Spain_plan,NaN

In [124]:
print(df.groupby(["State", "Site_name"])["Id"].count())
print(df.groupby(["Site_name"])["Id"].count())
print(df.groupby(["State"])["Id"].count())

State     Site_name
Closed    German_plan    1177
          Italy_plan     1159
          Korea_plan     1211
          Spain_plan     2354
          US_plan        1193
Open      German_plan    1214
          Italy_plan     1198
          Korea_plan     1199
          Spain_plan     2247
          US_plan        1155
Pending   German_plan    1177
          Italy_plan     1220
          Korea_plan     1200
          Spain_plan     2262
          US_plan        1181
Progress  German_plan    1200
          Italy_plan     1207
          Korea_plan     1207
          Spain_plan     2261
          US_plan        1168
Name: Id, dtype: int64
Site_name
German_plan    4768
Italy_plan     4784
Korea_plan     4817
Spain_plan     9124
US_plan        4697
Name: Id, dtype: int64
State
Closed      7586
Open        7538
Pending     7514
Progress    7553
Name: Id, dtype: int64

In [125]:
## let's use ISO 8601 timestamp format YYYY-MM-DDTH:MM:SS 
# This format provides a standardized representation of dates and times and is widely supported across different database systems and programming languages.
# Using the ISO 8601 timestamp format ensures consistency, makes it easier to sort and compare dates, and avoids any ambiguity 
# that can arise from different date formats used in different regions or systems.
df.columns = df.columns.str.lower()
actual_date_format = {
    'date_created': "%d/%m/%Y %I:%M %p",
    'due_date': "%Y/%d/%m %I:%M %p"
}
new_date_format = "%Y-%m-%d %H:%M:%S"

print('1step',df[["date_created", "due_date"]].head(1))

def convert_date_columns(df, actual_date_format, new_date_format):
    for col, fmt in actual_date_format.items():
        df[col] = pd.to_datetime(df[col], format=fmt)
        df[col] = df[col].dt.strftime(new_date_format)
    return df

df = convert_date_columns(df, actual_date_format, new_date_format)
df

1step           date_created             due_date
0  04/06/2023 09:47 AM  2023/09/09 06:19 AM

,id,parent_id,date_created,due_date,title,assigned_to,supervisor_leader,state,site_name
0,NQjKOTnh,wb18gG,2023-06-04 09:47:00,2023-09-09 06:19:00,aAt7u8TVNyM5WUTRkxQvsPJ4y7M9nO,Karter Harve,Geghard Fester,Progress,US_plan
1,uDbetnjg,NaN,2023-07-20 19:02:00,2023-09-14 14:31:00,X2L8gwwGPCg4epck1IdFeQQAZzaypc,Royle Jacinda,Kaj Gunnarr,Pending,NaN
2,FYRoQXCm,NaN,2023-04-30 06:31:00,2023-08-05 18:08:00,w1QF1TyO4QODQNefWTmZYdNgsL0Wz2,Royle Jacinda,Kaj Gunnarr,Pending,US_plan
3,FLIKQF18,fLDxcx,2023-05-24 17:28:00,2023-06-27 03:39:00,NaN,Royle Jacinda,Kaj Gunnarr,Open,US_plan
4,KF5debhv,NaN,2023-03-16 17:24:00,2023-10-16 17:24:00,NaN,Royle Jacinda,Geghard Fester,Open,US_plan
...,...,...,...,...,...,...,...,...,...
30186,ohevpgdv,NaN,2023-04-08 00:10:00,2023-11-26 18:04:00,NaN,Bernetta Barrett,Vera Ludvík,Pending,Spain_plan
30187,q9MaOfoT,NaN,2023-06-10 17:39:00,2023-06-28 08:01:00,NaN,Phemie Constance,Luvinia Honora,Progress,Spain_plan
30188,cqMrBVRN,rr38mu,2023-04-21 10:20:00,2023-11-07 05:20:00,NaN,Lorelle Rylan,Basma Engel,Progress,NaN
30189,vM8M01ib,NaN,2023-03-30 01:05:00,2023-06-22 01:02:00,NaN,Elaine Jax,Vera Ludvík,Open,Spain_plan
30190,PjuGyibs,NaN,2023-06-19 20:41:00,NaN,NaN,Elaine Jax,Vera Ludvík,Open,Spain_plan

In [126]:
date_columns = ["date_created", "due_date"]
default_date = "1970-01-02 00:00:0"
def replace_null_date(df, columns_list, default_date):
    default_date = pd.to_datetime(default_date)
    for col in columns_list:
        df[col].fillna(default_date, inplace=True)
    return df

df = replace_null_date(df, date_columns, default_date)
df

,id,parent_id,date_created,due_date,title,assigned_to,supervisor_leader,state,site_name
0,NQjKOTnh,wb18gG,2023-06-04 09:47:00,2023-09-09 06:19:00,aAt7u8TVNyM5WUTRkxQvsPJ4y7M9nO,Karter Harve,Geghard Fester,Progress,US_plan
1,uDbetnjg,NaN,2023-07-20 19:02:00,2023-09-14 14:31:00,X2L8gwwGPCg4epck1IdFeQQAZzaypc,Royle Jacinda,Kaj Gunnarr,Pending,NaN
2,FYRoQXCm,NaN,2023-04-30 06:31:00,2023-08-05 18:08:00,w1QF1TyO4QODQNefWTmZYdNgsL0Wz2,Royle Jacinda,Kaj Gunnarr,Pending,US_plan
3,FLIKQF18,fLDxcx,2023-05-24 17:28:00,2023-06-27 03:39:00,NaN,Royle Jacinda,Kaj Gunnarr,Open,US_plan
4,KF5debhv,NaN,2023-03-16 17:24:00,2023-10-16 17:24:00,NaN,Royle Jacinda,Geghard Fester,Open,US_plan
...,...,...,...,...,...,...,...,...,...
30186,ohevpgdv,NaN,2023-04-08 00:10:00,2023-11-26 18:04:00,NaN,Bernetta Barrett,Vera Ludvík,Pending,Spain_plan
30187,q9MaOfoT,NaN,2023-06-10 17:39:00,2023-06-28 08:01:00,NaN,Phemie Constance,Luvinia Honora,Progress,Spain_plan
30188,cqMrBVRN,rr38mu,2023-04-21 10:20:00,2023-11-07 05:20:00,NaN,Lorelle Rylan,Basma Engel,Progress,NaN
30189,vM8M01ib,NaN,2023-03-30 01:05:00,2023-06-22 01:02:00,NaN,Elaine Jax,Vera Ludvík,Open,Spain_plan
30190,PjuGyibs,NaN,2023-06-19 20:41:00,1970-01-02 00:00:00,NaN,Elaine Jax,Vera Ludvík,Open,Spain_plan

In [128]:
xx = df[df["date_created"]=="2023-03-26 02:56:00"]
xx

,id,parent_id,date_created,due_date,title,assigned_to,supervisor_leader,state,site_name
1489,JKUmENPu,IOj4gc,2023-03-26 02:56:00,2023-08-12 16:43:00,IiqXeHNGEVBmsT96XiDMPgtcnRMLGB,Adela Skylar,Geghard Fester,Open,US_plan
2107,HTDOaaxi,M7MQSc,2023-03-26 02:56:00,2023-06-22 12:41:00,N5GaPoXczlpmcPEGwSOlvbCp3nT0KC,Royle Jacinda,Jyotsana Magda,Pending,US_plan
7973,C8LEJvzq,NaN,2023-03-26 02:56:00,2023-10-17 08:34:00,Eyt7lsCyNHmX9tR4k37ZNpLtJ4dz6c,Brandee Belinda,Aubrianna Yusuf,Progress,Korea_plan
10721,xX1cXRfo,e3BvNt,2023-03-26 02:56:00,2023-11-01 09:24:00,NaN,Heather Delaney,Maximiano Harshad,Open,Italy_plan
14882,pyixZmHQ,46bl2q,2023-03-26 02:56:00,2023-07-21 08:35:00,gMuzIjPO3M1fiISsUBeFS7hqmFDugj,Benji Kaydence,Maximiano Harshad,Open,Italy_plan
24361,Ym8Xlva1,NaN,2023-03-26 02:56:00,2023-09-18 00:50:00,NaN,Tenley Rhetta,Dmytro Broccán,Progress,NaN

In [130]:
xx["date_created"]

1489     2023-03-26 02:56:00
2107     2023-03-26 02:56:00
7973     2023-03-26 02:56:00
10721    2023-03-26 02:56:00
14882    2023-03-26 02:56:00
24361    2023-03-26 02:56:00
Name: date_created, dtype: object

In [136]:
perso = df[df["id"]=="JKUmENPu"]
perso

,id,parent_id,date_created,due_date,title,assigned_to,supervisor_leader,state,site_name
1489,JKUmENPu,IOj4gc,2023-03-26 02:56:00,2023-08-12 16:43:00,IiqXeHNGEVBmsT96XiDMPgtcnRMLGB,Adela Skylar,Geghard Fester,Open,US_plan
11669,JKUmENPu,NaN,2023-07-28 09:11:00,2023-06-25 14:19:00,wsiKOIfj9mpZq79oE3FP7PtdcgPKZz,Helen Sherri,Maximiano Harshad,Closed,Italy_plan

In [151]:
column_values = perso['date_created']

for value in column_values:
    if isinstance(value, str):
        print(len(value))
    else:
        print("Not a string value")

19
19

In [155]:
perso

,id,parent_id,date_created,due_date,title,assigned_to,supervisor_leader,state,site_name
1489,JKUmENPu,IOj4gc,2023-03-26 02:56:00,2023-08-12 16:43:00,IiqXeHNGEVBmsT96XiDMPgtcnRMLGB,Adela Skylar,Geghard Fester,Open,US_plan
11669,JKUmENPu,NaN,2023-07-28 09:11:00,2023-06-25 14:19:00,wsiKOIfj9mpZq79oE3FP7PtdcgPKZz,Helen Sherri,Maximiano Harshad,Closed,Italy_plan

In [177]:
df.columns = df.columns.str.lower()
ff=df[df["id"]=="JKUmENPu"].head(2)

actual_date_format = {
    'date_created': "%d/%m/%Y %I:%M %p",
    'due_date': "%Y/%d/%m %I:%M %p"
}
new_date_format = "%Y-%m-%d %H:%M:%S"

for col, fmt in actual_date_format.items():
    print(col, fmt)

def convert_date_columns(df, actual_date_format, new_date_format):
    for col, fmt in actual_date_format.items():
        df[col] = pd.to_datetime(df[col], format=fmt)
        df[col] = df[col].dt.strftime(new_date_format)
    return df

ff = convert_date_columns(ff, actual_date_format, new_date_format)
ff[["date_created", "due_date"]]

date_created %d/%m/%Y %I:%M %p
due_date %Y/%d/%m %I:%M %p

              date_created             due_date
1489   2023-03-26 02:56:00  2023-08-12 16:43:00
11669  2023-07-28 09:11:00  2023-06-25 14:19:00

In [178]:
import pytz

local_timezone = pytz.timezone('Asia/Kathmandu')  # Specify your local time zone
utc_timezone = pytz.timezone('UTC')  # UTC time zone

ff['date_created'] = pd.to_datetime(ff['date_created']).dt.tz_localize(local_timezone).dt.tz_convert(utc_timezone)

In [172]:
ff

,id,parent_id,date_created,due_date,title,assigned_to,supervisor_leader,state,site_name
1489,JKUmENPu,IOj4gc,2023-03-26 02:56:00+00:00,2023-08-12 16:43:00,IiqXeHNGEVBmsT96XiDMPgtcnRMLGB,Adela Skylar,Geghard Fester,Open,US_plan
11669,JKUmENPu,NaN,2023-07-28 09:11:00+00:00,2023-06-25 14:19:00,wsiKOIfj9mpZq79oE3FP7PtdcgPKZz,Helen Sherri,Maximiano Harshad,Closed,Italy_plan

### CSV :  LABS

In [1]:
import pandas as pd
csv_file_path = '/Users/firaterman/Downloads/jj/labs.csv'
labs = pd.read_csv(csv_file_path)
print(labs.head(5))
print("number of rows:", len(labs))

  Labs_workcenter    Site_name Functional_area
0        1uW0nahr      US_plan             FA3
1        viliGEQ0   Swiss_plan             FA4
2        FNxgawTM   Swiss_plan             FA7
3        g90UZarW  German_plan             FA4
4        xqWWLPGh   Korea_plan             FA2
number of rows: 20

In [2]:
# different length present in columns
lengths = labs.apply(lambda col: col.astype(str).apply(len).unique())
print("different length present in columns", lengths)

different length present in columns Labs_workcenter            [8]
Site_name          [7, 10, 11]
Functional_area            [3]
dtype: object

In [3]:
labs.describe()

       Labs_workcenter    Site_name Functional_area
count               20           20              17
unique              20            6               7
top           1uW0nahr  German_plan             FA4
freq                 1            5               4

In [4]:

null_counts = labs.isnull().sum()
null_counts

Labs_workcenter    0
Site_name          0
Functional_area    3
dtype: int64

In [5]:
# number of labs_workcenter by site_name
labs.groupby("Site_name")["Labs_workcenter"].count()

Site_name
German_plan    5
Italy_plan     2
Korea_plan     3
Spain_plan     3
Swiss_plan     4
US_plan        3
Name: Labs_workcenter, dtype: int64

In [8]:

labs["Functional_area"].unique()

array(['FA3', 'FA4', 'FA7', 'FA2', 'FA1', nan, 'FA0', 'FA5'], dtype=object)

In [10]:
import numpy as np
labs['Functional_area'].replace('', np.nan, inplace=True)

In [12]:
labs["Functional_area"].unique()

array(['FA3', 'FA4', 'FA7', 'FA2', 'FA1', nan, 'FA0', 'FA5'], dtype=object)

### CSV : Batch tables

In [6]:
csv_file_path = '/Users/firaterman/Downloads/jj/batches_table.csv'
batches_tables = pd.read_csv(csv_file_path)
batches_tables.head(5)

         Id  Batch_Id      Name         Release_date
0  PvCriotn   9254069  fjeukyqk  09/02/2023 12:53 PM
1  46aX0Wgi   8173082  vzbnmzxw  14/08/2023 11:38 PM
2  SQUDIvL0   4660314  zhsospit  21/02/2023 03:26 AM
3  Yp1x4jVK   3667107  fwrkegns  18/08/2023 06:34 PM
4  klEvWoIc   3165801  kxeggsaq  24/08/2023 03:15 AM

In [7]:
batches_tables.count()

Id              12000
Batch_Id        12000
Name            12000
Release_date    12000
dtype: int64

In [12]:
# different length present in columns
lengths = batches_tables.apply(lambda col: col.astype(str).apply(len).unique())
print(lengths)

   Id  Batch_Id  Name  Release_date
0   8         7     8            19
8
8

In [91]:
batches_tables.describe(include="all")

              Id      Batch_Id      Name         Release_date
count      12000  1.200000e+04     12000                12000
unique      8592           NaN      9052                 8872
top     OMvnrroC           NaN  muosxqdz  23/06/2023 02:24 PM
freq           6           NaN         6                    6
mean         NaN  5.512216e+06       NaN                  NaN
std          NaN  2.592243e+06       NaN                  NaN
min          NaN  1.000204e+06       NaN                  NaN
25%          NaN  3.270030e+06       NaN                  NaN
50%          NaN  5.511214e+06       NaN                  NaN
75%          NaN  7.726396e+06       NaN                  NaN
max          NaN  9.998996e+06       NaN                  NaN

In [84]:
null_counts = batches_tables.isnull().sum()
null_counts

Id              0
Batch_Id        0
Name            0
Release_date    0
dtype: int64

### JSON : batch_details

In [4]:
batch_det_path = '/Users/firaterman/Downloads/jj/batches_det.json'
# Open the JSON file
batch_det = pd.read_json(batch_det_path)
batch_det.head(5)
print("number of rows:", len(batch_det))

number of rows: 10000

In [5]:
print(batch_det.groupby(["type"])["batches_id"].count())

type
       3355
HA1    3291
HA2    3354
Name: batches_id, dtype: int64

In [108]:
batch_det["type"].nunique()
batch_det["type"].unique()

array(['HA2', 'HA1', ''], dtype=object)

In [102]:
null_counts = batch_det.isnull().sum()
null_counts

batches_id    0
type          0
amount        0
dtype: int64

In [109]:
lengths = batch_det.apply(lambda col: col.astype(str).apply(len).unique())
print("different length present in columns", lengths)

different length present in columns batches_id                [7]
type                   [3, 0]
amount        [7, 6, 5, 4, 3]
dtype: object

In [28]:
import mysql.connector
import pandas as pd
import json 


user='root'
password='password'
host='localhost'
database='jandj'

connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

with open('/Users/firaterman/Documents/git_workspace/FERMAN/jandj/config/config_event_database.json') as f:
    table_data = json.load(f)
cursor = connection.cursor()

# Read the XLS file into a DataFrame using pandas
xls_file_path = '/Users/firaterman/Downloads/jj/events_database.xlsx'
df = pd.read_excel(xls_file_path)
# columns = df.columns.tolist()


database_name = table_data['database_name']
table_name = table_data['table_name']
columns = table_data['columns']
#data = table_data['data_type']


table_name = 'my_table'
create_table_query = f"CREATE TABLE IF NOT EXISTS {database}.{table_name} (\n"
for column in columns:
        create_table_query += f"{column['name']} {column['data_type']}, "
print(create_table_query)
create_table_query = create_table_query.rstrip(", ")
print(create_table_query)

CREATE TABLE IF NOT EXISTS jandj.my_table (
id VARCHAR(8), parent_id VARCHAR(19), date_created VARCHAR(50), due_date VARCHAR(50), title VARCHAR(30), assigned_to VARCHAR(128), supervisor_leader VARCHAR(128), state VARCHAR(8), site_name VARCHAR(128),
CREATE TABLE IF NOT EXISTS jandj.my_table (
id VARCHAR(8), parent_id VARCHAR(19), date_created VARCHAR(50), due_date VARCHAR(50), title VARCHAR(30), assigned_to VARCHAR(128), supervisor_leader VARCHAR(128), state VARCHAR(8), site_name VARCHAR(128)